@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
/*Importante! Sempre resetar o CSS
resetando*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  background: rgb(231, 226, 226);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110vh; /*Sempre definir a largura para centralizar os items*/
}

.content {
  background-color: #fff;
  border-radius: 15px;
  width: 960px;
  height: 50%;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

/*Definindo a cor em um dos lados (before = pseudoclasse)*/
.content::before {
  content: "";
  position: absolute;
  width: 40%;
  height: 100%;
  background-color: aqua;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;  
}

h2 {
  font-size: 28px;
  font-weight: bold;
}

h2,
.titulo-primario {
  color: white;
}

.titulo-secundario {
  color: aqua;
}

p {
  font-size: 14px;
  font-weight: 400;
}

.descricao-primaria {
  color: white;
}

.descricao {
  color: darkgrey;
}

.conteudo-1 {
  display: flex;
}

.coluna-1 {
  text-align: center;
  flex: 1 0 auto; 
}

.coluna-2 {
  flex: 2 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.conteudo-1, .coluna-1, .coluna-2{
  z-index: 12;
}
.conteudo-2 {
  display: flex;
  position: absolute;
}
.coluna-1-B {
  text-align: center;
  flex: 1 0 auto;
}

/*Talvez seja necessário tirar a ".coluna-2-B"*/
.coluna-2-B {
  flex: 2 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.conteudo-2, .coluna-1-B, .coluna-2-B{
  z-index: 1;
}

button {
  border-radius: 15px;
  text-transform: uppercase;
  color: white;
  font-size: 10px;
  padding: 10px 50px;
  cursor: pointer;
  font-weight: bold;
  width: 178px;
  height: 32px;
  align-self: center;
  border: none;
}

.botao-primario {
  background-color: transparent;
  border: 1px solid white;
  margin-top: 8px;
}

.botao-primario:hover {
  background-color: white;
  color: aqua;
  transition: 0.6s;
}

.botao-secundario {
  background-color: darkgrey;
  margin-top: 5px;
}

.botao-secundario:hover {
  background-color: aqua;
  transition: 0.6s;
}

.lista-midia {
  display: flex;
  list-style-type: none;
}

.item-social-midia {
  border: 1px solid darkgray;
  border-radius: 50%;
  height: 35px; /*Deixar o circulo "perfeito"*/
  width: 35px;
  line-height: 35px;
  text-align: center;
  margin: 10px 0;
}

/*Pseudo-classe not -> Faz com que o primeiro elemento
(icone do Facebook) não aplique a margem de 5px, apenas os outros*/
.item-social-midia:not(:first-child) {
  margin-left: 5px;
}

.item-social-midia,
a {
  color: darkgray;
}
.item-social-midia:hover {
  background-color: aqua;
  border: none;
  transition: 0.6s;
}
.item-social-midia,
a :hover {
  color: white;
}

.formulario {
  display: flex;
  flex-direction: column; /*Sempre dar o display: flex antes*/
}

.formulario input {
  display: inline-block;
  height: 30px;
  width: 100%;
  border: none;
  background-color: #ecf0f1;
}

.recuperar-senha{
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  margin-bottom: 8px;
}

.icon {
  color: darkgrey;
  padding: 0 5px;
}

.label-input {
  background-color: #ecf0f1;
  display: flex;
  align-items: center;
  margin: 5px;
}

/*Mudando a ordem dos conteudos*/
.conteudo-2 .coluna-1-B {
  order: 1;
}

.conteudo-2 .coluna-2-B {
  order: 2;
}

.conteudo-1 .coluna-1 {
  order: 1;
}

.conteudo-1 .coluna-2 {
  order: 2;
}

/*Quando o botão for clicado, o conteudo1 e as colunas 1 e 2 irão para a última camada. E as de baixo irã subir*/
.entrar-js .conteudo-1 .coluna-1{
  z-index: 1;
  order: 2;
}
.entrar-js .conteudo-1 .coluna-2 {
  z-index: 1;
  order: 1;
}

.entrar-js .conteudo-2 .coluna-1-B{
  z-index: 12;
  order: 2;
}
.entrar-js .conteudo-2 .coluna-2-B {
  z-index: 12;
  order: 1;
}

.entrar-js .content::before{
  left: 61%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.inscrever-js .conteudo-1 .coluna-1{
  z-index: 12;
  order: 2;
}
.inscrever-js .conteudo-1 .coluna-2 {
  z-index: 12;
  order: 1;
}

.inscrever-js .conteudo-2 .coluna-1-B{
  z-index: 1;
  order: 1;
}
.inscrever-js .conteudo-2 .coluna-2-B {
  z-index: 1;
  order: 2;
}
